<html>
  <head>
    <title>Puppet test</title>
  </head>
  <body>
    <h1>Hello! This is a puppet demo</h1>
	  <p>This server's name is: <%= @hostname %></p>
      <p>This server's IP address is: <%= @ipaddress %></p>
  </body>
</html>
